body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.home {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
}

.utility-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  background-color: orange;
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.navbar {
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: flex-start;
  background-color: orange;
  color: white;
  padding: 1rem 3rem;
}

.heading {
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-links {
  font-weight: 500;
  font-size: 1.1rem;
}
